.AddNote .input{
    border: none !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500;
}

.AddNote .textarea{
    border: none !important;
    resize: none;
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px !important;
    word-wrap: break-word;
}


.AddNote .form-group{
    border-radius: 10px !important;
}

.AddNote .form-group{
    position: relative;
}

.AddNote .btn{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -17px;
    right: 20px;
    background: #FFC400;
}
.AddNote .colorPin{
    position: absolute;
    bottom: 5px;
    left: 3px;
    cursor: pointer;
}
.AddNote .colorPlate{
    height: 130px;
    width:171px;
    position: absolute;
    bottom: -110px;
    left: 50px;
    background: white;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 35px 35px 35px 35px;
    border-radius: 10px;
}

.individualColor{
    border-radius: 50%;
    height:35px;
    border:1px solid;
}

input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

textarea::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
