.AddNote .input{
    border: none !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    font-weight: 500;
}

.AddNote .textarea{
    border: none !important;
    resize: none;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
}


.AddNote .form-group{
    border-radius: 10px !important;
}

.AddNote .form-group{
    position: relative;
}

.AddNote .btn{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -17px;
    right: 20px;
    background: #FFC400;
}

input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

textarea::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
